.checkoutForm{
    padding: 50px;
}

.inputs {
    width: 600px;
}

h2{
    text-align: center;
    color: #007eb9;
}

.formgroup {
    margin-bottom: 10px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #007eb9;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button[type="submit"] {
    background-color: #408001;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #4e9804;
}

span {
    color: red;
}
